---
layout: default
---

{% for post in site.categories.overview %}  
  {{ post.content }}
{% endfor %}

<h2 class="block-icon skill"><a href="/skills">What I do</a></h2>
<ul>
{% for post in site.categories.skills reversed %}         
<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>

<h2 class="block-icon article"><a href="/articles">Articles</a></h2>
<ul>
{% for post in site.categories.articles %}         
<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>

<h2 class="block-icon project"><a href="/projects">Projects</a></h2>
<ul>
{% for post in site.categories.projects %}         
<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>

<h2 class="block-icon case-study"><a href="/case-studies">Case Studies</a></h2>
<ul>
{% for post in site.categories.case-studies %}         
<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
<!-- 
<h2 class="block-icon">The Thought Balloon Services</h2>
<ul>
{% for post in site.categories.services reversed %}         
<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <em class="post-overview">{{ post.overview }}</em>
</li>
{% endfor %}
</ul>
-->
