<!DOCTYPE html>
<html lang="en"> 
  <head>
    <title>
      Daniel Eastwell: Freelance Web Developer and Designer at The Thought Ballon
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> 
    <meta name="verify-v1" content="FEVs3xt7GcwTUn98FcAgcD+maRYTIQHrtaV0Whr/DUc=">
    <!--[if lt IE 9]>
    <script src="/lib/html5shiv.js"></script>
    <script>
      isltIE9 = true;
    </script>
    <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
    <![endif]-->
    <script>
      // http://git.io/jkjjlg
      var _gaq=[['_setAccount','UA-3134478-1'],['_trackPageview']],
          WebFontConfig = { google: { families: [ 'Marvel::latin' ]}};
      (function(d,t){
        function addScript(p, url){
           var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?p.s:p.n)+url;
            s.parentNode.insertBefore(g,s);
        }
        addScript({ s: '//ssl', n: '//www'}, '.google-analytics.com/ga.js');
        if(!window.isltIE9){
          addScript({ s: 'https', n: 'http'}, '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js');
        }
      }(document,'script'));
    </script>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/lib/prism.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico"> 
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>
  <body>
    <div role="main">
      <header class="header">
        <h1>The Thought Balloon
            <svg width="48" height="37" xmlns="http://www.w3.org/2000/svg" class="logo" preserveAspectRatio="xMinYMin" viewBox="0 0 48 37">
              <rect fill="none" stroke-width="3" height="32" width="43" ry="3" rx="3" y="2" x="2" id="svg_1" stroke="#000000"/>
              <rect height="4" width="7" y="32" x="10" fill="#ffffff" id="svg_2"/>
            </svg>
        </h1>
      </header>
      <nav role="navigation" class="site-navigation">
        <h1 class="a11y">Site navigation</h1>
        <a class="a11y hover-focus" href="#page-content">Skip to content</a>
        <ul>
        	<li class="overview"><a href="/"{% if page.category == null %} class="active"{% endif %}>Overview</a></li>
        	<li class="skills"><a href="/skills"{% if page.category == 'skills' %} class="active"{% endif %}>Skills</a></li>
        	<li class="projects"><a href="/projects"{% if page.category == 'projects' %} class="active"{% endif %}>Projects</a></li>
        	<li class="case-studies"><a href="/case-studies"{% if page.category == 'case-studies' %} class="active"{% endif %}>Case Studies</a></li>
        	<li class="articles"><a href="/articles"{% if page.category == 'articles' %} class="active"{% endif %}>Articles</a></li>
        	<li class="contact"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <article id="page-content" class="page-content language-javascript">
    {{ content }}
      </article>
      <footer role="contentinfo">
        <section>
          <h1>The Thought Balloon Elsewhere</h1>
          <ul class="links links-elsewhere">
          	<li class="block-icon icon-tumblr"><a href="http://blog.thoughtballoon.co.uk">Blog</a></li>
          	<li class="block-icon icon-linkedin"><a href="http://www.linkedin.com/in/daneastwell">Linked in</a></li>
          	<li class="block-icon icon-twitter"><a href="https://twitter.com/maskingtape">Twitter</a></li>
          	<li class="block-icon icon-github"><a href="https://github.com/maskingtape">Github</a></li>
          </ul>
        </section>
        <section id="company-details" class="company-details">
          <h1>The Thought Balloon Ltd. <a href="mailto:dan@thoughtballoon.co.uk">Daniel Eastwell</a> <a href="tel:+447403350499">+44 (0) 74033 50499</a></h1>
          <p>Registered as a company in England and Wales (05417505). Registered office: 73 Church Road, Hove, BN3 2BB, UK</p>
          <ul class="links links-internal">
              <li class="block-icon"><a href="/colophon">Colophon</a></li>
          </ul>
        </section>
      </footer>
    </div>
    <script src="/lib/prism.js"></script>
  </body>
</html>